.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 200px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  background-color: #efefef;

  /* background-image: url('http://lorempixel.com/1064/768/'); */
}

mat-header-row {
  background-color: steelblue;
}